<div class="col-sm-offset-1  col-sm-2">

    <div class="right-section">

        <ul class="nav nav-pills nav-stacked">

            <check if="{{ ! isset(@clone) and @id != 'new' }}">

                <li class="{{ @section_active == 'edit' ? 'active' : '' }}"><a href="{{@WWW}}/front/edit/{{ @id }}"
                                                                               title="Edit">
                    <i class="fa fa-edit"></i> Edit</a></li>

                <check if="{{@STORE_LOGS}}">
                    <li class="{{ @section_active == 'stats' ? 'active' : '' }}"><a
                            href="{{@WWW}}/front/stats/{{ @id }}"
                            title="Stats">
                        <i class="fa fa-signal"></i> Stats</a></li>

                    <li class="{{ @section_active == 'logs' ? 'active' : '' }}"><a href="{{@WWW}}/front/logs/{{ @id }}"
                                                                                   title="Logs">
                        <i class="fa fa-list"></i> Logs</a></li>
                </check>

                <check if="{{!@READONLY}}">
                    <li>
                        <a href="javascript:void(0)" class="modal-confirm"
                           data-title="<i class='fa fa-exclamation-circle'></i> Remove Confirmation"
                           data-content="Are you sure to delete this API?"
                           data-options='{ "confirmType" : "url" , "confirmArgs" : "{{@WWW}}/front/remove/{{ @id }}" , "btnConfirmClass":"btn btn-primary", "btnCancelClass":"btn btn-default", "borderRadius":"0px" }'
                           title="Remove"><i class="fa fa-trash-o"></i> Delete</a>
                    </li>


                    <li><a href="{{@WWW}}/front/clone/{{ @id }}" title="Clone"><i class="fa fa-random"></i>
                        Clone</a></li>
                </check>

                <li><a href="{{@WWW}}/front/export/{{ @id }}" title="Export"><i class="fa fa-cloud-download"></i>
                    Export</a></li>

            </check>
            <li class="divider">
                <hr>
            </li>
            <li><a href="{{@WWW}}/front" title="Home">
                <i class="fa fa-home"></i> Home</a></li>
            <li><a href="javascript:void(9)" onclick="history.back();" title="Back">
                <i class="fa fa-mail-reply"></i> Back</a></li>
        </ul>

    </div>

</div>


