<div style="margin: auto;text-align: center">
    <p style="font-size: 48px;">Update</p>

    <i class="fa fa-fire-extinguisher" style="font-size: 88px;"></i>

    <p style="font-size: 38px;">...project fix & updated</p>

    <a class="btn btn-default" href="{{@WWW}}/front" title="Home">
        <i class="fa fa-home"></i> Home</a>

</div>
