<div class="edit-container" style="opacity: 0.2">

<link rel="stylesheet" href="{{@WWW}}/assets/js/CodeMirror/lib/codemirror.css">

<style>
    .CodeMirror {
        border: 1px solid #e6e6e6;
        height: 155px;
    }
</style>

<div class="row">

<include href="__sidebar.html"/>

<div class="col-sm-8">

<div class="left-section">

<h3>
    <check if="{{ isset(@clone) }}">
        <true><i class="fa fa-random"></i> Clonning</true>
        <false>
            <check if="{{ @id == 'new' }}">
                <true><i class="fa fa-file-o"></i> Adding</true>
                <false><i class="fa fa-edit"></i> Editing</false>
            </check>
        </false>
    </check>
    <small>{api #{{@id}}}</small>
</h3>

<div class="home-list-buttons pull-right" style="margin-top: -35px;">
    <a href="#basic" class="btn btn-primary btn-sm" title="Basic">
        {I} Basic
    </a>
    <a href="#source" class="btn btn-primary btn-sm" title="Source">
        {II} Source
    </a>
    <a href="#security" class="btn btn-primary btn-sm" title="Security">
        {III} Security
    </a>
</div>

<form class="form-horizontal" id="form-edit" action="../../front/save/{{@id}}" method="post">

<input type="hidden" name="id"/>

<h3 class="page-header" id="basic">{I} Basic
    <small>{in this section we define the basic parameters of the API}</small>
</h3>

<div class="form-group">
    <label for="input_name" class="col-sm-2 control-label">Name</label>

    <div class="col-sm-6">
        <input class="form-control" id="input_name" placeholder="Name" name="name">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Single name.</small>
    </div>

</div>

<div class="form-group">
    <label for="input_description" class="col-sm-2 control-label">Description</label>

    <div class="col-sm-8">
        <textarea class="form-control" id="input_description" placeholder="Description"
                  name="description" rows="3"></textarea>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Description, be descriptive :-).</small>
    </div>

</div>

<div class="form-group">
    <label for="input_path" class="col-sm-2 control-label">Path</label>

    <div class="col-sm-6">
        <input class="form-control" id="input_path" placeholder="Path" name="path">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">
            Path to request, not need include the DOMAIN only the relative path.<br>
            The path must start with <code>/</code>.<br>
            You can create params like this <code>/hello/@param_1/@param_N</code> or<br>
            Using the URL variables like GET <code>/hello?@param_1=X&@param_N=Y</code>.
        </small>
    </div>
</div>

<div class="form-group">
    <label for="input_cache" class="col-sm-2 control-label">Cache</label>

    <div class="col-sm-2">
        <input class="form-control" id="input_cache" placeholder="Cache" name="cache" value="0">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">
            Cache (in second), <b>0</b> for don't use.<br>
            The system will be send the same output for this time.<br>
            This will make your application run like a Formula 1 race car.
        </small>
    </div>
</div>

<div class="form-group">
    <label for="input_throttling" class="col-sm-2 control-label">Throttling</label>

    <div class="col-sm-2">
        <input class="form-control" id="input_throttling" placeholder="Throttling" name="throttling" value="0">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">
            Bandwidth Throttling (in kbps), <b>0</b> for don't use.<br>
            Serving pages ASAP makes your application vulnerable to Denial-of-Service (DOS) attacks.<br>
            Your can specifies how much time it should take to process a request.
        </small>
    </div>
</div>

<div class="form-group">
    <label for="input_method" class="col-sm-2 control-label">Method</label>

    <div class="col-sm-3">
        <select id="input_method" name="method" class="form-control">
            <option value="all">ALL</option>
            <option value="get">GET</option>
            <option value="post">POST</option>
            <option value="put">PUT</option>
            <option value="delete">DELETE</option>
        </select>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Access 's methods.</small>
    </div>
</div>

<div class="form-group">
    <label for="input_output" class="col-sm-2 control-label">Output</label>

    <div class="col-sm-3">
        <select id="input_output" name="output" class="form-control">
            <repeat group="{{ @l_output }}" value="{{ @i }}">
                <option value="{{ @i.name }}">{{ strtoupper(@i.name) }}</option>
            </repeat>
        </select>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Output 's format.</small>
    </div>
</div>

<div class="form-group">
    <label for="input_is_public" class="col-sm-2 control-label">Public</label>

    <div class="col-sm-2" style="margin-top: 10px;">
        <input type="checkbox" id="input_is_public" placeholder="Is public" name="is_public" value="0">
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">
            Define if the API is visible in the "Public Zone".
        </small>
    </div>
</div>

<h3 class="page-header" id="source">{II} Source
    <small>{in this section we define the source from which the data were taken}</small>
    <a href="#" class="btn btn-sm btn-primary pull-right"><i class="fa fa-chevron-up"></i></a>
</h3>

<div class="form-group">
    <label for="input_source" class="col-sm-2 control-label">Source</label>

    <div class="col-sm-4">
        <select id="input_source" name="source" class="form-control">
            <repeat group="{{ @l_action }}" value="{{ @i }}">
                <option value="{{ @i.name }}">{{ strtoupper(@i.name) }}</option>
            </repeat>
        </select>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block source-help"></small>
    </div>
</div>

<div class="col-sm-offset-2 action-params"></div>

<div class="form-group">
    <label for="input_action" class="col-sm-2 control-label">Action</label>

    <div class="col-sm-10">
        <textarea class="form-control" id="input_action" placeholder="Action"
                  name="action" rows="5"></textarea>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Action to execute.</small>
        <br>
        <a id="show_advanced_opt" href="javascript:void(0)" style="text-decoration: none">{hide advanced actions}</a>
    </div>

    <div class="action-after" style="margin-top: 10px;">

        <div class="col-sm-offset-2 col-sm-10">
            <textarea class="form-control" placeholder="After Action"
                      name="after" rows="5" id="after"></textarea>
        </div>

        <div class="col-sm-offset-2 col-sm-10">
            <small class="help-block">
                This code is executed after the Action and before the Output, the variable
                <code>$result</code> is an <code>array</code> and represent the result of the Action the code must
                finish with the sentence <code>return $result;</code>
            </small>
        </div>

    </div>


</div>

<h3 class="page-header" id="security">{III} Security
    <small>
        {in this section we define the security for the API}
        <a href="#" class="btn btn-sm btn-primary pull-right"><i class="fa fa-chevron-up"></i></a>
    </small>
</h3>

<div class="form-group">
    <label for="input_security_type" class="col-sm-2 control-label">Type</label>

    <div class="col-sm-4">
        <select id="input_security_type" name="security" class="form-control">
            <repeat group="{{ @l_security }}" value="{{ @i }}">
                <option value="{{ @i.name }}">{{ strtoupper(@i.name) }}</option>
            </repeat>
        </select>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block security-help"></small>
    </div>
</div>

<div class="col-sm-offset-2 security-params"></div>

<div class="form-group">
    <label for="input_security_encryption" class="col-sm-2 control-label">Encryption</label>

    <div class="col-sm-4">
        <select id="input_security_encryption" name="encryption" class="form-control">
            <repeat group="{{ @l_encryption }}" value="{{ @i }}">
                <option value="{{ @i.name }}">{{ strtoupper(@i.name) }}</option>
            </repeat>
        </select>
    </div>

    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Type of Encryption</small>
    </div>
</div>

<div class="form-group">

    <label for="input_security_error" user_name="" class="col-sm-2 control-label">Error Message</label>

    <div class="col-sm-10"><input type="text" class="form-control" id="input_security_error"
                                  name="security_error" placeholder="Error Message"></div>
    <div class="col-sm-offset-2 col-sm-10">
        <small class="help-block">Text printed when the the Security FAIL.</small>
    </div>
</div>

<check if="{{!@READONLY}}">

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">

            <hr>

            <div class="validation-errors"></div>

            <a type="submit" href="javascript:void(0)" class="btn btn-default modal-confirm"
               data-title="<i class='fa fa-exclamation-circle'></i> Save Confirmation"
               data-content="Are you sure to save this API?"
               data-options='{"confirmType" : "callback" , "confirmArgs" : "save_api" ,"btnConfirmClass":"btn btn-primary", "btnCancelClass":"btn btn-default", "borderRadius":"0px" }'>
                Save</a>

        </div>
    </div>

</check>

</form>

</div>

</div>

</div>

<!--CKEDITOR Stack-->
<script src="{{@WWW}}/assets/js/ckeditor/ckeditor.js"></script>
<!--End CKEDITOR Stack-->

<!--CodeMirror Stack-->
<script src="{{@WWW}}/assets/js/CodeMirror/lib/codemirror.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/addon/edit/matchbrackets.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/javascript/javascript.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/xml/xml.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/javascript/javascript.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/css/css.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/clike/clike.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/php/php.js"></script>
<script src="{{@WWW}}/assets/js/CodeMirror/mode/sql/sql.js"></script>
<!--End CodeMirror Stack-->

<script src="{{@WWW}}/assets/js/front_edit.js"></script>

<check if="{{ isset(@clone) }}">
    <true>
        <script>$(function () {
            fill_api_fields("{{@clone}}");
        })</script>
    </true>
    <false>
        <script>$(function () {
            fill_api_fields("{{@id}}");
        })</script>
    </false>
</check>

</div>