<div class="container" style="max-width: 320px;">

    <form class="form-signin" method="POST" action="{{@WWW}}/front/check_login">
        <h2 class="form-signin-heading">Please sign in</h2>
        <check if="{{ isset(@GET.error) }}">
            <div class="alert alert-danger fade in">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <strong>Ops</strong> {{ @GET.error }}
            </div>
        </check>
        <input type="text" class="form-control" placeholder="User" required autofocus name="username">
        <input type="password" class="form-control" placeholder="Password" required name="password">
        <button class="btn btn-md btn-primary btn-block" type="submit">Sign in</button>
        <br>
        <small class="text-muted">if you are a consumer, please visit the <a href="{{@WWW}}/front/public">
            directory</a></small>
    </form>

</div>