<div class="row">

    <div class="col-sm-offset-1 col-sm-7">

        <div class="left-section">

            <h3><i class="fa fa-list"></i> List
                <small>{you have {{ count(@l_api) }} api(s) created}</small>
            </h3>

            <div class="home-list-buttons pull-right" style="margin-top: -35px;">

                <a href="{{@WWW}}/front/add/new" class="btn btn-default btn-sm" title="Create new API">
                    <i class="fa fa-file-o"></i> New
                </a>

                <a class="btn btn-default btn-sm" data-toggle="modal" href="#importModal"
                   title="Import existed API"><i class="fa fa-cloud-upload"></i> Import
                </a>

                <check if="{{@SHOW_PUBLIC_ZONE}}">
                    <a href="{{@WWW}}/front/public" class="btn btn-default btn-sm" title="Public Zone" target="_blank">
                        <i class="fa fa-fire"></i> Public Zone
                    </a>
                </check>

            </div>

            <div class="list-group">
                <repeat group="{{ @l_api }}" value="{{ @i }}">
                    <div href="javascript:void(0)" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            <a href="{{@WWW}}/front/edit/{{ @i.id }}" title="Edit"><i class="fa fa-cog"></i></a>
                            {{@i.name}}
                            <small style="font-size: 11px;">
                                {changed on {{ @i.last_change }}}
                            </small>
                            <small class="pull-right">

                                <a href="{{@WWW}}/front/edit/{{ @i.id }}" title="Edit"><i href="#"
                                                                                          class="fa fa-edit"></i></a>

                                <check if="{{@STORE_LOGS}}">
                                    <a href="{{@WWW}}/front/stats/{{ @i.id }}" title="Stats"><i href="#"
                                                                                                class="fa fa-signal"></i></a>

                                    <a href="{{@WWW}}/front/logs/{{ @i.id }}" title="Logs"><i href="#"
                                                                                              class="fa fa-list"></i></a>
                                </check>

                                <check if="{{!@READONLY}}">
                                    <a href="javascript:void(0)" class="modal-confirm"
                                       data-title="<i class='fa fa-exclamation-circle'></i> Remove Confirmation"
                                       data-content="Are you sure to delete this API?"
                                       data-options='{ "confirmType" : "url" , "confirmArgs" : "{{@WWW}}/front/remove/{{ @i.id }}" , "btnConfirmClass":"btn btn-primary", "btnCancelClass":"btn btn-default", "borderRadius":"0px" }'
                                       title="Remove"><i href="#" class="fa fa-trash-o"></i></a>
                                    <a href="{{@WWW}}/front/clone/{{ @i.id }}" title="Clone"><i href="#"
                                                                                                class="fa fa-random"></i></a>
                                </check>


                                <a href="{{@WWW}}/front/export/{{ @i.id }}" title="Export"><i href="#"
                                                                                              class="fa fa-cloud-download"></i></a>

                            </small>
                        </h4>

                        <div class="list-group-item-text text-muted" style="margin-left: 20px;">
                            <small class="text-primary">{{@WWW}}{{@i.path}}</small>
                            {{@i.description|raw}}
                        </div>
                    </div>
                </repeat>
            </div>

            {{ @pagebrowser | raw }}

        </div>

    </div>

    <div class="col-sm-3">

        <div class="right-section">
            <h4 class="text-muted"><i class="fa fa-cogs"></i> OurApiServer
                <small></small>
            </h4>
            <p>
                OurAPIServer is a tool for create a REST API Server for our projects. The main objective is the creation
                of a Standard Tool with supports for many existing projects.
            </p>

            <p>Need know more ? really ? ... please visit the
                <a href="{{ @WWW_DOC }}" class="btn btn-sm btn-primary"><i class="fa fa-file-text-o"></i>
                    DOCUMENTATION</a>
                we are
                waiting for your comments !
            </p>

            <p>
                When a new version is ready for install, we need remove all folders except <b>data</b>, also in this
                folder we need remove the folders <em>cache, temp and uploads</em>, <i
                    class="fa fa-exclamation-triangle"></i> is important keep the file <em>config.ini</em>
            </p>

            <p>Use the button
                <a href="{{ @WWW }}/front/update" class="btn btn-sm btn-primary"><i
                        class="fa fa-fire-extinguisher"></i>
                    FIX & UPDATE
                </a> after each update and for clean <em>temporals and cache</em>.
            </p>

        </div>

        <hr>

        <check if="{{ @SHOW_LAST_POST }}">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-file"></i> Last Posts</div>
                <div class="panel-body">
                    <div class="text-left">
                        <ul>
                            <repeat group="{{ @LAST_POSTS }}" value="{{ @i }}">
                                <li>
                                    <a href="{{@i.link}}">{{@i.title}}</a>
                                </li>
                            </repeat>
                        </ul>
                    </div>
                </div>
            </div>
        </check>

        <check if="{{ @SHOW_LAST_COMMENTS }}">
            <div class="panel panel-default">
                <div class="panel-heading"><i class="fa fa-comments"></i> Last Comments</div>
                <div class="panel-body">
                    <div class="text-left">
                        <ul>
                            <repeat group="{{ @LAST_COMMENTS }}" value="{{ @i }}">
                                <li>
                                    <a href="{{@i.link}}">{{@i.title}}</a>
                                </li>
                            </repeat>
                        </ul>
                    </div>
                </div>
            </div>
        </check>


    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="{{ @WWW }}/front/import" method="post" enctype="multipart/form-data" id="form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-arrow-circle-o-down"></i> Import API</h4>
                </div>
                <div class="modal-body">
                    <input class="form-control" style="display: inline-block" type="file" name="api_file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit"><i class="fa fa-arrow-circle-o-down"></i> Import
                    </button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->