@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    src: local("Raleway Light"), local("Raleway-Light"), url(../fonts/raleway-light-webfont.woff) format('woff')
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    src: local("Raleway Regular"), local("Raleway-Regular"), url(../fonts/raleway-regular-webfont.woff) format('woff')
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    src: local("Raleway Medium"), local("Raleway-Medium"), url(../fonts/raleway-medium-webfont.woff) format('woff')
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 700;
    src: local("Raleway Bold"), local("Raleway-Bold"), url(../fonts/raleway-bold-webfont.woff) format('woff')
}

@font-face {
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    src: local("Raleway ExtraBold"), local("Raleway-ExtraBold"), url(../fonts/raleway-extrabold-webfont.woff) format('woff')
}

/*GENERAL*/
body, h1, h2, h3, h4, h5 {
    font-family: Raleway;
}

.p-header p {
    margin: 0px;
}

.left-section > .list-group {
    margin-left: 10px;
}

.left-section > .list-group a {
    margin-left: 5px;
}

.right-section > p {
    margin-left: 10px;
}